:root {
    --boxcolorz:#0ff7;
    --rotationspeed:20s;
    --bounceSpeed:1.5s;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 75px;
    -webkit-perspective: 9em;
            perspective: 9em;
    -webkit-perspective-origin: 50% calc(50% - 3em);
            perspective-origin: 50% calc(50% - 3em);
  }
  
  .container {
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: rotate var(--rotationspeed) linear infinite;
            animation: rotate var(--rotationspeed) linear infinite;
  }
  
  .ball {
    height: 1em;
    width: 1em;
    border-radius: 50px;
    background-color: wheat;
    position: absolute;
    left: -0.5em;
    bottom: 1em;
    animation: ballbounce var(--bounceSpeed) infinite ease-out, rotate var(--rotationspeed) linear infinite reverse;
    background-image: radial-gradient(circle at top, gray, 25%, #000);
  }
  
  @-webkit-keyframes ballbounce {
    0%, 100% {
      bottom: 0.5em;
    }
    50% {
      bottom: 3em;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
  }
  
  @keyframes ballbounce {
    0%, 100% {
      bottom: 0.5em;
    }
    50% {
      bottom: 3em;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
  }
  
  .ballshadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#0007, #0000 50%);
    -webkit-animation: ballshadow var(--bounceSpeed) infinite ease-out;
            animation: ballshadow var(--bounceSpeed) infinite ease-out;
  }
  
  @-webkit-keyframes ballshadow {
    0%, 8%, 94%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0.5;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
  }
  
  @keyframes ballshadow {
    0%, 8%, 94%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(2);
              transform: scale(2);
      opacity: 0.5;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
  }
  
  .cube {
    height: 2em;
    width: 2em;
    position: absolute;
    bottom: -1em;
    left: -1em;
    -webkit-animation: cubes var(--bounceSpeed) infinite ease-out;
            animation: cubes var(--bounceSpeed) infinite ease-out;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  @-webkit-keyframes cubes {
    0%, 100% {
      height: 1.5em;
    }
    8%, 94% {
      height: 2em;
    }
  }
  
  @keyframes cubes {
    0%, 100% {
      height: 1.5em;
    }
    8%, 94% {
      height: 2em;
    }
  }
  
  .cube .left, .cube .right, .cube .front, .cube .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--boxcolorz);
    -webkit-box-shadow: 0 0 0.5em #000a inset;
            box-shadow: 0 0 0.5em #000a inset;
  }
  
  .cube .front {
    -webkit-transform: translateZ(1em);
            transform: translateZ(1em);
  }
  
  .cube .right {
    -webkit-transform: rotateY(90deg) translateZ(1em);
            transform: rotateY(90deg) translateZ(1em);
  }
  
  .cube .back {
    -webkit-transform: rotateY(180deg) translateZ(1em);
            transform: rotateY(180deg) translateZ(1em);
  }
  
  .cube .left {
    -webkit-transform: rotateY(270deg) translateZ(1em);
            transform: rotateY(270deg) translateZ(1em);
  }
  
  .cube .top {
    position: absolute;
    width: 2em;
    height: 2em;
    background: var(--boxcolorz);
    -webkit-transform: translateY(-50%) rotateX(90deg);
            transform: translateY(-50%) rotateX(90deg);
    -webkit-box-shadow: 0 0 0.5em #000a inset;
            box-shadow: 0 0 0.5em #000a inset;
  }
  
  .cube .bottom {
    position: absolute;
    width: 2em;
    height: 2em;
    background: var(--boxcolorz);
    bottom: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
    -webkit-box-shadow: 0 0 0.5em #000a inset;
            box-shadow: 0 0 0.5em #000a inset;
  }
  
  .base {
    width: 15em;
    height: 15em;
    position: absolute;
    top: 1em;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
            transform: translate(-50%, -50%) rotateX(90deg);
    background-image: radial-gradient(#0000, #000 75%), repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
    background-size: 100%, 6em 6em;
  }
  
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    from {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes rotate {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    from {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }